<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cat memes!</title>
    <link rel="stylesheet" href="/stylesheets/catmemestyle.css" />
  </head>
  <body>
    <h1>Cat memes!</h1>
    <img id="catmeme1" src="/images/catmeme1.jpg" alt="catmeme1" />
    <img id="catmeme2" src="/images/catmeme2.jpg" alt="catmeme2" />
    <img id="catmeme3" src="/images/catmeme3.jpg" alt="catmeme3" />
  </body>
</html>
