#catmeme1 {
  width: 30%;
  height: 30%;
}

#catmeme2 {
  width: 30%;
  height: 30%;
}

#catmeme3 {
  width: 30%;
  height: 30%;
}

h1 {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

a {
  color: green;
  text-align: center;
  padding: 15px 18px;
  text-decoration: none;
  font-size: 17px;
}